:root{
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey700: hsl(0, 0%, 20%);
    --Grey800: hsl(0, 0%, 12%);
    --Grey900: hsl(0, 0%, 8%);
}

@font-face{
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

body{
    background-color: var(--Grey900);
    color: var(--White);
}

main{
    background-color: var(--Grey800);
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
}

.background-layout{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.card-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 38rem;
    width: 20rem;
    border-radius: 1rem;
    padding: 1.5rem;
}

img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.name{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}
.quote{
    margin-top: 1rem;
}

.bottom-margin, .quote{
    margin-bottom: 1rem;
}

.location{
    font-weight: 600;
    color: var(--Green);
    font-size: 13px;
}

.social-links{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    gap: 1rem;
}

.social-links a{
    background-color: var(--Grey700);
    color: var(--White);
    text-decoration: none;
    text-align: center;
    font-weight: 700;

    padding: 1rem;
    border-radius: 0.5rem;
}

.social-links a:hover{
    background-color: var(--Green);
    color: var(--Grey900)
}


@media screen and (min-width: 576px){

    .quote, .location, .social-links{
        font-size: 10px;
    }

    .card-layout{
        height: 25rem;
        width: 16rem;
        border-radius: 0.5rem;
    }

    img{
        width: 3.5rem;
        height: 3.5rem;
    }

    .name{
        margin-top: 0.5rem;
        margin-bottom: 0.25rem;
        font-weight: 500;
        font-size: 17px;
    }

    .location{
        font-size: 10px;
        font-weight: 400; 
    }
    
    .quote{
        font-weight: 300;
    }

    .bottom-margin, .quote{
        margin-bottom: 0.5rem;
    }

    .social-links{
        gap: 0.65rem;
    }

    .social-links a{
        font-weight: 500;

        padding: 0.55rem;
        border-radius: 0.3rem;
    }
}

@media screen and (min-width: 1400px){

    .quote, .location, .social-links{
        font-size: 14px;
    }

    .card-layout{
        height: 35rem;
        width: 22rem;
        border-radius: 0.5rem;
        padding: 2rem;
    }

    img{
        width: 5rem;
        height: 5rem;
    }

    .name{
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        font-weight: 600;
        font-size: 23px;
    }
    
    .location{
        font-size: 13px;
        font-weight: 600; 
    }
    
    .quote{
        font-weight: 200;
    }

    .bottom-margin, .quote{
        margin-bottom: 1rem;
    }

    .social-links{
        gap: 0.85rem;
    }

    .social-links a{
        font-weight: 500;

        padding: 0.75rem;
        border-radius: 0.3rem;
    }
}